{% extends 'main.html' %}

{% block content %}

<!-- Main Section -->
 <main class="formPage my-xl">
    <div class="content-box">
      
          <div class="formWrapper">
            <a class="backButton" href=""><i class="im im-angle-left"></i></a>
            <br>

              attendance

              <div class="row">
                <div class="column" style="margin:0 auto;">
                  {% comment %} <input type="button" href={% url 'attendance-in' %} onclick="myFunction()" class="btn btn--sub btn--lg  my-md" value="IN" /> {% endcomment %}
                  <a href={% url 'attendance-in' %} class="btn btn--sub btn--lg">IN</a>
                  <div id="myDIV">
                  <form class="form" method="POST">
                    {% csrf_token %}

                    {% for field in in_form %}

                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                        {{ field }}
                    </div>

                    
                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
                    {% comment %} <a href={% url 'attendance-in' %} class="btn btn--sub btn--lg  my-md" value="IN" /> {% endcomment %}

                  </form>
                </div>
                </div>

                <div class="column" style="margin:0 auto;">
                  <a href={% url 'attendance-out' %} class="btn btn--sub btn--lg">OUT</a>
                  <form class="form" method="POST">
                    {% csrf_token %}

                    {% for field in out_form %}

                    <div class="form__field">
                        <label for="formInput#text">{{ field.label }} </label>
                        {{ field }}
                    </div>

                    {% endfor %}

                    <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />

                  </form>
                </div>

              </div>
          </div>
        <div>
        </div>

        
  


      </div>

    </div>

    <hr>

    <div class="container"></div>
    <div class="grid grid--two">
        <div class="column">
          <div class="container">
            <table class="vortable">
                <tr>
                  <th>Date</th>
                  <th>In Time</th>
                </tr>
    
                {% for log_attendance_in in logs_attendance_in %}
                <tr>
                  <td>{{log_attendance_in.in_date}}</td>
                  <td>{{log_attendance_in.in_time}}</td>
                </tr>
                {% endfor %}
    
            </table>
          </div>
        </div>
        <div class="column">
          <div class="container">
            <table class="vortable">
                <tr>
                  <th>Date</th>
                  <th>Out Time</th>
                </tr>
    
                {% for log_attendance_out in logs_attendance_out %}
                <tr>
                  <td>{{log_attendance_out.out_date}}</td>
                  <td>{{log_attendance_out.out_time}}</td>
                </tr>
                {% endfor %}
    
            </table>
          </div>
        </div>
      </div>

    </div>

</main>

<script>
  function myFunction() {
    var x = document.getElementById("myDIV");
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }

</script>

{% endblock content %}