<!DOCTYPE html>
{% load static %}
<html>

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <!-- Icon - IconMonster -->
    <link rel="stylesheet" href="https://cdn.iconmonstr.com/1.3.0/css/iconmonstr-iconic-font.min.css" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Mumble UI -->
    <link rel="stylesheet" href="{% static 'uikit/styles/uikit.css' %}" />
    <!-- Dev Search UI -->
    <link rel="stylesheet" href="{% static 'styles/app.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'styles/sub.css' %}" /> {% endcomment %}

    <title>Virtual Office Room</title>

</head>

<body>
    
    {% comment %} {% include 'navbar.html' %} {% endcomment %}

    <div class="w3-sidebar w3-bar-block w3-card w3-animate-left" style="display:none" id="mySidebar">
        <button class="w3-bar-item w3-button w3-large"
        onclick="w3_close()">Close &times;</button>

        <a href="{% url 'profiles' %}" class="w3-bar-item w3-button">Home</a>
        <a href="{% url 'core:dashboard' %}" class="w3-bar-item w3-button">Dashboard</a>
        <a href="{% url 'attendance-in' %}" class="w3-bar-item w3-button">Attendance</a>
        <a href="{% url 'work-log' %}" class="w3-bar-item w3-button">Work Log</a>

        <button class="w3-button w3-block w3-left-align" onclick="myAccFunc()">
          Projects menu <i class="fa fa-caret-down"></i>
          </button>
          <div id="demoAcc" class="w3-hide w3-white w3-card">
            <a href="{% url 'projects:projects' %}" class="w3-bar-item w3-button">Project details</a>
            <a href="{% url 'views:project-view' %}" class="w3-bar-item w3-button">All Projects</a>
            <a href="{% url 'views:users-view' %}" class="w3-bar-item w3-button">Mine</a>
          </div>

          
          <a href="{% url 'projects:create-task' %}" class="w3-bar-item w3-button">Create Task</a>

      <button class="w3-button w3-block w3-left-align" onclick="usersFunc()">
          Users <i class="fa fa-caret-down"></i>
          </button>
          <div id="usersAcc" class="w3-hide w3-white w3-card">
            <a href="{% url 'profiles' %}" class="w3-bar-item w3-button">All Users</a>
            <a href="{% url 'register' %}" class="w3-bar-item w3-button">Create User</a>
          </div>


        {% if request.user.is_authenticated %}

        <button class="w3-button w3-block w3-left-align" onclick="messageFunc()">
          Message <i class="fa fa-caret-down"></i>
          </button>
          <div id="messageAcc" class="w3-hide w3-white w3-card">
            <a href="{% url 'personal-meeting-inbox' %}" class="w3-bar-item w3-button">Meetings</a>
            <a href="{% url 'inbox' %}" class="w3-bar-item w3-button">Inbox</a>
            {% comment %} <a href="#" class="w3-bar-item w3-button">Message to All</a> {% endcomment %}
          </div>

        {% comment %} <a href="{% url 'inbox' %}" class="w3-bar-item w3-button">Inbox</a> {% endcomment %}
        <a href="{% url 'account' %}" class="w3-bar-item w3-button">My Account</a>
        <a href="{% url 'logout' %}" class="w3-bar-item w3-button">Logout</a>
        {% else %}
        <a href="{% url 'login' %}" class="w3-bar-item w3-button">Login/Sign Up</a>

        {% endif %}

        
      </div>

    <!-- {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>{{ message }}</li>
            {% endfor %}
    </ul>
    {% endif %} -->

   

    <div id="main">

        <div class="w3-teal" style="background-color:#2d2d39!important;">
          <button id="openNav" class="w3-button w3-teal w3-xlarge" style="background-color:#2d2d39!important;" onclick="w3_open()">&#9776;</button>
          <div class="w3-container">
          </div>
        </div>

         <!-- ----------------------------------------- Modal content -------------------------------------->
    <!-- Trigger/Open The Modal -->
{% comment %} <button id="myBtn">Open Modal</button> {% endcomment %}

<!-- The Modal -->
{% comment %} <div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>It's lunch time..</p>
  </div>

</div> {% endcomment %}



<!-- ----------------------------------------- Modal content -------------------------------------->


{% if messages %}

{% for message in messages %}
<div class="alert  alert--{{message.tags}}">
    <p class="alert__message">{{message}}</p>
    <button class="alert__close">x</button>
</div>

{% endfor %}

{% endif %}


    {% block content %}

    {% endblock content %}

    </div>

    
</body>
<script src="{% static 'uikit/app.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

<script>

  var modal = document.getElementById("myModal");
    
  // Get the button that opens the modal
  {% comment %} var btn = document.getElementById("myBtn"); {% endcomment %}
  
  // Get the <span> element that closes the modal
  var span = document.getElementsByClassName("close")[0];

  var d = new Date();
  var time = d.getHours();

  console.log(time)

  if (time > 12 && time < 13 ) {
    modal.style.display = "block";
  }
  {% comment %} if (time > 12) {
    document.write("<b>Good afternoon!</b>");
  }
  if (time == 12) {
    document.write("<b>Go eat lunch!</b>");
  } {% endcomment %}

  span.onclick = function() {
    modal.style.display = "none";
  }




    function w3_open() {
      document.getElementById("main").style.marginLeft = "18%";
      document.getElementById("mySidebar").style.width = "18%";
      document.getElementById("mySidebar").style.display = "block";
      document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
      document.getElementById("main").style.marginLeft = "0%";
      document.getElementById("mySidebar").style.display = "none";
      document.getElementById("openNav").style.display = "inline-block";
    }

    function messageFunc() {
      var x = document.getElementById("messageAcc");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " vor-gray";
      } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" vor-gray", "");
      }
    }

    function usersFunc() {
      var x = document.getElementById("usersAcc");
      if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
        x.previousElementSibling.className += " vor-gray";
      } else { 
        x.className = x.className.replace(" w3-show", "");
        x.previousElementSibling.className = 
        x.previousElementSibling.className.replace(" vor-gray", "");
      }
    }

    function myAccFunc() {
        var x = document.getElementById("demoAcc");
        if (x.className.indexOf("w3-show") == -1) {
          x.className += " w3-show";
          x.previousElementSibling.className += " vor-gray";
        } else { 
          x.className = x.className.replace(" w3-show", "");
          x.previousElementSibling.className = 
          x.previousElementSibling.className.replace(" vor-gray", "");
        }
      }
</script>

</html>